/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #5372f0;
}

::selection {
  color: #fff;
  background: #5372f0;
}

.wrapper {
  margin-top: 12px;
  margin-bottom: 12px;
  align-items: center;
  justify-content: center;
  width: 992px;
  background: #fff;
  border-radius: 10px;
  padding: 18px 25px 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
}

.wrapper_1, .wrapper_2 {
  margin-top: 12px;
  margin-bottom: 12px;
  align-items: center;
  justify-content: center;
  width: 98%;
  background: #fff;
  border-radius: 10px;
  padding: 18px 25px 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
}

.wrapper_2 h5{
  cursor: pointer;
}

.wrapper :where(.title, li, li i, .details) {
  display: flex;
  align-items: center;
}

.title img {
  max-width: 21px;
}

.title h2,
.Category h2,
.Main_Heading h2,
.Author_Name h2,
.Image h2,
.Blog_Description h2,
.Meta_title h2,
.Meta_keywords h2,
.Meta_description h2,
.Meta_robots h2,
.Meta_viewport h2,
.Meta_charset h2 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 8px;
}

.wrapper .content {
  margin: 10px 0;
}

.content p {
  font-size: 15px;
}

.content ul {
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}

.content ul li {
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #f2f2f2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}

.content ul li i {
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}

.content ul input {
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

#Category_input,
#Main_Heading_input,
#Author_Name_input,
#Image_input,
#Meta_title_input,
#Meta_description_input,
#Meta_robots_input,
#Meta_viewport_input,
#Meta_charset_input,
#Meta_keywords_input {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
  width: 100%;
}

.Category select{
  font-size: 16px;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
  width: 75%;
}

.Category button {
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372f0;
  transition: background 0.3s ease;
  height: fit-content;
}

.wrapper .details {
  justify-content: space-between;
}

.wrapper .Category div{
  display: flex;
  justify-content: space-between !important;
}

.wrapper .Category div button{
  padding: 7px;
  margin: 12px 0;
}

.details button {
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #f05853;
  transition: background 0.3s ease;
}

.details button:hover {
  background: #f05853 !important;
}

.Submit_Button button {
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372f0;
  transition: background 0.3s ease;
  
}

.details button:hover {
  background: #2c52ed;
}

.ck-editor__editable[role="textbox"] {
  /* editing area */
  min-height: 100px;
}

.ck-content .image {
  /* block images */
  max-width: 80%;
  margin: 20px auto;
}

@media (max-width: 360px) {
  .wrapper {
    padding: 12px;
  }
}

/* ------- 
Datatable  
-------- */
th,
td {
  border: 1px solid black;
}

@media (max-width:470px) {
  .Category select{
    width: 65%;
  }
}